.API-key-box {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
}